// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$fyre-light-grey: #d9d9d9ff;
$fyre-dark-grey: #434343ff;
$fyre-text-grey: #999999ff;
$fyre-dark-blue: #394154;

$fyre-darker-orange: #fc750f;


$fyre-black: #111111;
$fyre-blue: #14213D;
$fyre-rich-blue: #000022;
$fyre-orange: #BC5100;
$fyre-platinium: #E5E5E5;
