// Default style for text

h1 {
  color: $fyre-platinium;
}

h2 {
  color: $fyre-platinium;
}

h3 {
  color: $fyre-platinium;
}

p {
  color: $fyre-platinium;
  font-weight: 300;
}

.background-playground {
  background-color: $fyre-black;
}
