.cadre-dj {
  position: relative;
  // background-color: #d9d9d9ff;
  height: 100vh;
  img {
    width: 165px;
  }
}

.style-card {
  border: 5px solid $fyre-platinium;
  border-radius: 5px;
  box-shadow: 2px -4px 16px -6px rgba(0,0,0,0.72);
}

.style-card:hover {
  transform: scale(1.1);
}

.all-dj-btn {
  position: absolute;
  top: 200px;
  right: 260px;
}

.dropdown {
  position: absolute;
  top: 290px;
  right: 50px;
}

#dj-1 {
  position: absolute;
  top: 205px;
  left: 210px;
  width: 150px;
  z-index: 1;
}

#dj-2 {
  position: absolute;
  top: 150px;
  left: 340px;
  z-index: 850;
}

#dj-3 {
  position: absolute;
  top: 300px;
  left: 330px;
  width: 125px;
  z-index: 860;
}

#dj-4 {
  position: absolute;
  top: 350px;
  left: 185px;
  z-index: 65;
}

#dj-5 {
  position: absolute;
  top: 560px;
  left: 225px;
  width: 170px;
  z-index: 65;
}

#dj-6 {
  position: absolute;
  top: 495px;
  left: 530px;
  width: 100px;
  z-index: 905;
}

#dj-7 {
  position: absolute;
  top: 530px;
  left: 340px;
  z-index: 35;
  width: 230px;
}

#dj-8 {
  position: absolute;
  top: 450px;
  left: 340px;
  width: 140px;
  z-index: 860;
}

#dj-9 {
  position: absolute;
  top: 353px;
  left: 440px;
  width: 140px;
  z-index: 10;
}

#dj-10 {
  position: absolute;
  top: 270px;
  left: 430px;
  width: 140px;
  z-index: 900;
}

#dj-11 {
  position: absolute;
  top: 140px;
  left: 490px;
  z-index: 850;
}

#dj-12 {
  position: absolute;
  top: 280px;
  left: 565px;
}

#dj-13 {
  position: absolute;
  top: 400px;
  left: 560px;
  width: 185px;
}

#dj-14 {
  position: absolute;
  top: 80px;
  left: 105px;
  z-index: 100;
}

#dj-15 {
  position: absolute;
  top: 60px;
  left: 240px;
  z-index: 150;
}

#dj-16 {
  position: absolute;
  top: 180px;
  left: 55px;
  z-index: 90;
}

#dj-17 {
  position: absolute;
  top: 250px;
  left: 40px;
  z-index: 85;
}

#dj-18 {
  position: absolute;
  top: 450px;
  left: 60px;
  z-index: 100;
}

#dj-19 {
  position: absolute;
  top: 155px;
  left: 195px;
  z-index: 60;
}

#dj-20 {
  position: absolute;
  top: 40px;
  left: 390px;
  z-index: 155;
}


#dj-21 {
  position: absolute;
  top: 540px;
  left: 145px;
  z-index: 110;
  width: 90px;
}


// #dj-fourtet {
//   position: absolute;

// }



// #dj-marc-r {
//   position: absolute;

// }



// #dj-moby {
//   position: absolute;

// }

