.cadre-dj {
  position: relative;
  // background-color: #d9d9d9ff;
  height: 100vh;
  img {
    width: 165px;
  }
}
.img-fit {
  object-fit: cover;
}
.style-card {
  border: 5px solid $fyre-platinium;
  border-radius: 5px;
  box-shadow: 2px -4px 16px -6px rgba(0,0,0,0.72);
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;

}

.style-card:hover {
  transform: scale(1.4);
  z-index: 10000 !important;
}
.all-dj-btn {
  position: absolute;
  top: 200px;
  right: 260px;
}
.dropdown {
  position: absolute;
  margin-right: 165px;
  top: 265px;
  right: -95px;
  margin-left: none;
  text-align: center;
  // justify-content: middle;
  // display: flex;
  h1 {
    color: $fyre-platinium;
    margin-bottom: 15px;
    font-size: 45px;
    right: 70px;
  }
  h5 {
    color: $fyre-platinium;
    margin-bottom: 30px;
  }
}
#dj-1 {
  position: absolute;
  top: 80px;
  left: 105px;
  width: 165px;
  height: 113px;
  z-index: 100;
}
#dj-2 {
  position: absolute;
  top: 60px;
  left: 240px;
  width: 181px;
  height: 130px;
  z-index: 150;
}
#dj-3 {
  position: absolute;
  top: 180px;
  left: 55px;
  width: 165px;
  height: 97px;
  z-index: 90;
}
#dj-4 {
  position: absolute;
  top: 250px;
  left: 40px;
  width: 165px;
  height: 132px;
  z-index: 85;
}
#dj-5 {
  position: absolute;
  top: 450px;
  left: 60px;
  width: 165px;
  height: 113px;
  z-index: 100;
}
#dj-6 {
  position: absolute;
  top: 155px;
  left: 195px;
  width: 165px;
  height: 216px;
  z-index: 60;
}
#dj-7 {
  position: absolute;
  top: 40px;
  left: 390px;
  width: 165px;
  height: 113px;
  z-index: 155;
}
#dj-8 {
  position: absolute;
  top: 150px;
  left: 340px;
  width: 165px;
  height: 164px;
  z-index: 850;
}
#dj-9 {
  position: absolute;
  top: 300px;
  left: 330px;
  width: 165px;
  height: 168px;
  z-index: 860;
}
#dj-10 {
  position: absolute;
  top: 350px;
  left: 195px;
  width: 150px;
  height: 242px;
  z-index: 65;
}
#dj-11 {
  position: absolute;
  top: 560px;
  left: 225px;
  width: 170px;
  height: 90px;
  z-index: 65;
}
#dj-12 {
  position: absolute;
  top: 540px;
  left: 145px;
  width: 90px;
  height: 90px;
  z-index: 110;
}
#dj-13 {
  position: absolute;
  top: 495px;
  left: 530px;
  width: 125px;
  height: 182px;
  z-index: 905;
}
#dj-14 {
  position: absolute;
  top: 530px;
  left: 340px;
  width: 230px;
  height: 139px;
  z-index: 35;
}
#dj-15 {
  position: absolute;
  top: 450px;
  left: 340px;
  width: 140px;
  height: 88px;
  z-index: 860;
}
#dj-16 {
  position: absolute;
  top: 353px;
  left: 470px;
  width: 140px;
  height: 185px;
  z-index: 10;
}
#dj-17 {
  position: absolute;
  top: 270px;
  left: 430px;
  width: 140px;
  height: 96px;
  z-index: 900;
}
#dj-18 {
  position: absolute;
  top: 140px;
  left: 490px;
  width: 165px;
  height: 145px;
  z-index: 850;
}
#dj-19 {
  position: absolute;
  top: 30px;
  left: 540px;
  width: 120px;
  height: 120px;
  z-index: 960;
}
#dj-20 {
  position: absolute;
  top: 375px;
  left: 600px;
  width: 125px;
  height: 165px;
}
#dj-21 {
  position: absolute;
  top: 536px;
  left: 645px;
  width: 160px;
  height: 125px;
  z-index: 960;
}
#dj-22 {
  position: absolute;
  top: 50px;
  left: 650px;
  width: 145px;
  height: 140px;
}
#dj-23 {
  position: absolute;
  top: 265px;
  left: 560px;
  width: 165px;
  height: 115px;
  z-index: 1000;
}
#dj-24 {
  position: absolute;
  top: 520px;
  left: 795px;
  width: 140px;
  height: 95px;
  z-index: 2000;
}
#dj-25 {
  position: absolute;
  top: 160px;
  left: 650px;
  width: 150px;
  height: 105px;
  z-index: 100;
}
#dj-26 {
  position: absolute;
  top: 70px;
  left: 775px;
  width: 115px;
  height: 175px;
  z-index: 0;
}
#dj-27 {
  position: absolute;
  top: 380px;
  left: 50px;
  width: 145px;
  height: 92px;
  z-index: 85;
}

#dj-28 {
  position: absolute;
  top: 435px;
  left: 710px;
  width: 155px;
  height: 105px;
  z-index: 1005;

}

#dj-29 {
  position: absolute;
  top: 235px;
  left: 710px;
  width: 165px;
  height: 95px;
  z-index: 1000;
}

#dj-30 {
  position: absolute;
  top: 305px;
  left: 700px;
  width: 145px;
  height: 155px;
  z-index: 1000;
}
#dj-31 {
  position: absolute;
  top: 410px;
  left: 820px;
  width: 135px;
  height: 135px;
  z-index: 1000;
}

#dj-32 {
  position: absolute;
  top: 160px;
  left: 850px;
  width: 100px;
  height: 105px;
  z-index: 100;
}

#dj-33 {
  position: absolute;
  top: 235px;
  left: 825px;
  width: 165px;
  height: 195px;
  z-index: 0;
}
