.cadre-dj {
  position: relative;
  // background-color: #d9d9d9ff;
  height: 90vh;
  img {
    width: 165px;
  }
}
.img-fit {
  object-fit: cover;
}
.style-card {
  border: 5px solid $fyre-platinium;
  border-radius: 5px;
  box-shadow: 2px -4px 16px -6px rgba(0,0,0,0.72);
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;

}

.style-card:hover {
  transform: scale(1.1);
}
.all-dj-btn {
  position: absolute;
  top: 200px;
  right: 260px;
}
.dropdown {
  position: absolute;
  margin-right: 165px;
  top: 250px;
  right: 50px;
  margin-left: none;
  h1 {
    color: $fyre-platinium;
    margin-bottom: 15px;
    font-size: 45px;
  }
  h5 {
    color: $fyre-platinium;
    margin-bottom: 30px;
  }
}
#dj-1 {
  position: absolute;
  top: 80px;
  left: 105px;
  width: 165px;
  height: 113px;
  z-index: 100;
}
#dj-2 {
  position: absolute;
  top: 60px;
  left: 240px;
  width: 181px;
  height: 130px;
  z-index: 150;
}
#dj-3 {
  position: absolute;
  top: 180px;
  left: 55px;
  width: 165px;
  height: 97px;
  z-index: 90;
}
#dj-4 {
  position: absolute;
  top: 250px;
  left: 40px;
  width: 165px;
  height: 242px;
  z-index: 85;
}
#dj-5 {
  position: absolute;
  top: 450px;
  left: 60px;
  width: 165px;
  height: 113px;
  z-index: 100;
}
#dj-6 {
  position: absolute;
  top: 155px;
  left: 195px;
  width: 165px;
  height: 216px;
  z-index: 60;
}
#dj-7 {
  position: absolute;
  top: 40px;
  left: 390px;
  width: 165px;
  height: 113px;
  z-index: 155;
}
#dj-8 {
  position: absolute;
  top: 150px;
  left: 340px;
  width: 165px;
  height: 164px;
  z-index: 850;
}
#dj-9 {
  position: absolute;
  top: 300px;
  left: 330px;
  width: 165px;
  height: 168px;
  z-index: 860;
}
#dj-10 {
  position: absolute;
  top: 350px;
  left: 185px;
  width: 165px;
  height: 242px;
  z-index: 65;
}
#dj-11 {
  position: absolute;
  top: 560px;
  left: 225px;
  width: 170px;
  height: 90px;
  z-index: 65;
}
#dj-12 {
  position: absolute;
  top: 540px;
  left: 145px;
  width: 90px;
  height: 90px;
  z-index: 110;
}
#dj-13 {
  position: absolute;
  top: 495px;
  left: 530px;
  width: 125px;
  height: 182px;
  z-index: 905;
}
#dj-14 {
  position: absolute;
  top: 530px;
  left: 340px;
  width: 230px;
  height: 139px;
  z-index: 35;
}
#dj-15 {
  position: absolute;
  top: 450px;
  left: 340px;
  width: 140px;
  height: 88px;
  z-index: 860;
}
#dj-16 {
  position: absolute;
  top: 353px;
  left: 440px;
  width: 140px;
  height: 185px;
  z-index: 10;
}
#dj-17 {
  position: absolute;
  top: 270px;
  left: 430px;
  width: 140px;
  height: 96px;
  z-index: 900;
}
#dj-18 {
  position: absolute;
  top: 140px;
  left: 490px;
  width: 165px;
  height: 165px;
  z-index: 850;
}
#dj-19 {
  position: absolute;
  top: 30px;
  left: 540px;
  width: 120px;
  height: 120px;
  z-index: 960;
}
#dj-20 {
  position: absolute;
  top: 290px;
  left: 565px;
  width: 165px;
  height: 165px;
}
#dj-21 {
  position: absolute;
  top: 480px;
  left: 665px;
  width: 185px;
  height: 125px;
}
#dj-fourtet {
  position: absolute;
}
#dj-marc-r {
  position: absolute;
}
#dj-imperatrice {
  position: absolute;
}
#dj-moby {
  position: absolute;
}
