<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="test-background">
  <h2>Graphic chart</h2>


  <h1>h1 style</h1>
  <h2>h2 style</h2>
  <h3>h3 style</h3>

  <p>paragraph style</p>
</div>

<div class="CARD">
  <p>blabla</p>

</div>
