// .cards-container {

// }

// .card-container {

// }

// #dj_pic_and_rating_card {

// }

// #dj_bookings_and_links_card {

// }

// #dj_bio_card {

// }

.background-playground {
  background-color: #394154;
}

.bio-card {
  background-color: #F4F4F4;
  box-shadow: 3px 3px 7px rgba(30, 30, 30, 0.3);
  border-radius: 10px;
  width: 250px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    // margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
  }
}

.btn-ghost {
  color: #394154;
  border: 1px solid #394154;
  padding: 8px 24px;
  border-radius: 50px;
  // font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
}

.pic-name-rating-card {
  background-color: #F4F4F4;
  box-shadow: 3px 3px 7px rgba(30, 30, 30, 0.3);
  border-radius: 10px;
  width: 400px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-top: 30px;
  }
}



