#dj-booking-form {
  margin-top: 30px;
  background-color: #F4F4F4;
  box-shadow: 3px 3px 7px rgba(30, 30, 30, 0.3);
  border-radius: 10px;
  padding: 30px 15px;
  display: flex;

  label {
    font-family: $body-font;
    font-weight: 300;
    color: $fyre-text-grey;
  }
}

#admin-container {
  background-color: $fyre-blue;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}

#admin-form {
  padding: 30px 15px;

  label {
    font-family: $body-font;
    font-weight: 300;
    color: $fyre-text-grey;
  }
}
