<h1>This is a great DJ list</h1>

<ul>
  <% @dj_profiles.each do |dj_profile| %>
  <li><%= link_to dj_profile.stage_name, dj_profile_path(dj_profile) %></li>
  <% end %>
</ul>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Chose your genre
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%  DjProfile.genres.each do |genre| %>
    <%= link_to genre, genre_path(genre), class:"dropdown-item"  %>
    <% end %>
  </div>
</div>

