
<div class="container">
  <h1>Find your perfect DJ in our roster !</h1>
  <div class="dropdown">
    <h5>What kind of music do you like ?</h5>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Chose your genre
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%  DjProfile.genres.each do |genre| %>
      <%= link_to genre, genre_path(genre), class:"dropdown-item"  %>
      <% end %>
    </div>
  </div>

  <div class="index-container">
    <% @dj_profiles.each do |dj_profile| %>
      <%= link_to dj_profile_path(dj_profile) do %>
        <div class="card">
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path dj_profile.user.photo %>')"></div>
          <span><%= dj_profile.stage_name %></span>
        </div>
      <% end %>
    <% end %>
  </div>

</div>


