<div class="d-flex justify-content-center">
  <h1>Become a new Dj !</h1>
</div>

<div class="d-flex justify-content-center" id="admin-container">
  <div class="col-sm-6 col-lg-4" id="admin-form">
  <%= render 'form', dj_profile: @dj_profile %>
  </div>
</div>
