<div class="container mt-5">
  <h1><%= @dj_profile.stage_name %></h1>
  <h3><%= @dj_profile.genre %></h3>
  <p><%= @dj_profile.bio %></p>

  <%= link_to "😈Go Back Home 😈", root_path %>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</div>

